<header>
    <nav>
        <a href="/">ACME</a>
        <ul>
            <li><a href="/employee">Employee</a></li>
            <li><a href="/employee/new">Add Employee</a></li>
        </ul>
    </nav>
</header>