<header>
    <nav>
        <a href="/">ACME</a>
        <ul>
            <li>Human Resource</li>
            <ul>
                <li><a href="/hr/employees">Employee</a></li>
                <li><a href="/hr/employees/new">Add Employee</a></li>
                <li><a href="/hr/titles">Job Titles</a></li>
                <li><a href="/hr/titles/new">Add Job Titles</a></li>
            </ul>
        </ul>
        <ul>
            <li>Financial</li>
            <ul>
                <li><a href="/financial/transactions">Transactions</a></li>
                <li><a href="/financial/transactions/new">Add Transaction</a></li>
            </ul>
        </ul>
        <ul>
            <li>Client Relationship Management</li>
            <ul>
                <li><a href="/crm/customers">Customers</a></li>
                <li><a href="/crm/customers/new">Add Customer</a></li>
            </ul>
        </ul>
        <ul>
            <li>Online Store</li>
            <ul>
                <li><a href="/online_store/charts">Charts</a></li>
                <li><a href="/online_store/charts/new">Add Charts</a></li>
                <li><a href="/online_store/checkout">Checkout</a></li>
                <li><a href="/online_store/checkout/new">Add Checkout</a></li>
            </ul>
        </ul>
    </nav>
</header>