
<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= employee.name %>">
</div>
<div>
    <label>Department</label>
    <input type="text" name="dept_name" value="<%= employee.dept_name %>">
</div>
<div>
    <label>Hire Date</label>
    <input type="date" name="hire_date"
            value="<%= employee.hire_date == null ? '' : employee.hire_date.toISOString().split('T')[0] %>">
</div>
<div>
    <label>To Date</label>
    <input type="date" name="to_date"
            value="<%= employee.to_date == null ? '' : employee.to_date.toISOString().split('T')[0] %>">
</div>