<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= transaction.title %>">
</div>
<div>
    <label>Type</label>
    <select name="trans_type">
        <option>select</option>
        <option name="trans_type" value="receipt">receipt</option>
        <option name="trans_type" value="payment">payment</option>
    </select>
</div>
<div>
    <label>Total</label>
    <input type="tel" name="amount" value="<%= transaction.amount %>">
</div>
<div>
    <label>Description</label>
    <input type="text" name="description" value="<%= transaction.description %>">
</div>