<h2>New Transaction</h2>
<form action='/financial/transactions' method="POST">
    <%- include('_form_fields.ejs') %>
    <a href="/financial/transactions">Cancel</a>
    <button type="submit">Create</button>
</form>
