<h2>New Employee</h2>
<form action='/online_store/chart' method="POST">
    <%- include('_form_fields.ejs') %>
    <a href="/online_store/chart">Cancel</a>
    <button type="submit">Create</button>
</form>