<h2>New Payment</h2>
<form action="/online_store/checkout" method="POST">
  <%- include('_form_fields.ejs') %>
  <a href="/online_store/checkout">Cancel</a>
  <button type="submit">Create</button>
</form>